<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rootLab.model.mapper.ManagerMapper">
    <select id="searchManagers" parameterType="rootLab.model.criteria.ManagerCriteria">
        SELECT * FROM manager JOIN siteinfo USING (siNo)
            <where>
                <if test="mgAuth != null">
                    AND mgAuth = #{mgAuth}
                </if>
                <if test="mName != null">
                    AND mName LIKE CONCAT('%', #{mName}, '%')
                </if>
                <if test="mId != null">
                    AND mId LIKE CONCAT('%', #{mId}, '%')
                </if>
                <if test="mPhone != null">
                    AND mPhone LIKE CONCAT('%', #{mPhone}, '%')
                </if>
            </where>
            LIMIT #{startRow}, #{pageSize}
    </select>
</mapper>