<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rootLab.model.mapper.PushPopupMapper">



    <!-- 1. 검색 -->
    <select id="searchPush" resultType="rootLab.model.dto.PushPopupDto">
        SELECT * FROM pushPopup WHERE pNo = #{pNo} , ppType = #{ppType} and ppTitle LIKE CONCAT('%', #{ppTitle}, '%') ORDER BY createdAt DESC
    </select>

<!--    &lt;!&ndash; 2. 등록 &ndash;&gt;-->
<!--    <insert id="insertPush"-->
<!--            parameterType="rootLab.model.dto.PushPopupDto"-->
<!--            useGeneratedKeys="true" keyProperty="ppNo">-->
<!--        INSERT INTO push_popup-->
<!--        (-->
<!--        pNo, mgNo, ppTitle, ppContent, ppImg, ppUse, ppType, ppStart, ppEnd, ppIterated -->
<!--        )-->
<!--        VALUES-->
<!--        (-->
<!--        #{pNo}, #{mgNo}, #{ppTitle}, #{ppContent}, #{ppImg},-->
<!--        #{ppUse}, #{ppType}, #{ppStart}, #{ppEnd}, #{ppIterated},-->
<!--        NOW(), NULL-->
<!--        )-->
<!--    </insert>-->

    <!-- 3. 삭제 -->
    <delete id="deletePush" parameterType="int">
        DELETE FROM pushPopup WHERE ppNo = #{ppNo};
    </delete>

    <!-- 4. 수정 -->
    <update id="updatePush" parameterType="rootLab.model.dto.PushPopupDto">
        UPDATE pushPopup SET pNo = #{pNo} , mgNo = #{mgNo} , ppTitle = #{ppTitle} , ppContent = #{ppContent} , ppImg = #{ppImg} , ppUse = #{ppUse} , ppType =  #{ppType} , ppStart = #{ppStart} , ppEnd = #{ppEnd} , ppIterated = #{ppIterated} WHERE ppNo = #{ppNo};
    </update>

</mapper>